<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nayouliang.foodinfo.manager.mapper.FoodInfoMapper">
  <resultMap id="BaseResultMap" type="com.foodinfo.model.FoodInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="image_id" jdbcType="VARCHAR" property="imageId" />
    <result column="food_describe" jdbcType="VARCHAR" property="foodDescribe" />
    <result column="food_address" jdbcType="VARCHAR" property="foodAddress" />
    <result column="food_status" jdbcType="TINYINT" property="foodStatus" />
    <result column="data_state" jdbcType="TINYINT" property="dataState" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="procurement_user_id" jdbcType="VARCHAR" property="procurementUserId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, image_id, food_describe, food_address, food_status, data_state, user_id, procurement_user_id, 
    create_date, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from food_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from food_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.foodinfo.model.FoodInfo">
    insert into food_info (id, image_id, food_describe, 
      food_address, food_status, data_state, 
      user_id, procurement_user_id, create_date, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{imageId,jdbcType=VARCHAR}, #{foodDescribe,jdbcType=VARCHAR}, 
      #{foodAddress,jdbcType=VARCHAR}, #{foodStatus,jdbcType=TINYINT}, #{dataState,jdbcType=TINYINT}, 
      #{userId,jdbcType=VARCHAR}, #{procurementUserId,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.foodinfo.model.FoodInfo">
    insert into food_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="imageId != null">
        image_id,
      </if>
      <if test="foodDescribe != null">
        food_describe,
      </if>
      <if test="foodAddress != null">
        food_address,
      </if>
      <if test="foodStatus != null">
        food_status,
      </if>
      <if test="dataState != null">
        data_state,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="procurementUserId != null">
        procurement_user_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="imageId != null">
        #{imageId,jdbcType=VARCHAR},
      </if>
      <if test="foodDescribe != null">
        #{foodDescribe,jdbcType=VARCHAR},
      </if>
      <if test="foodAddress != null">
        #{foodAddress,jdbcType=VARCHAR},
      </if>
      <if test="foodStatus != null">
        #{foodStatus,jdbcType=TINYINT},
      </if>
      <if test="dataState != null">
        #{dataState,jdbcType=TINYINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="procurementUserId != null">
        #{procurementUserId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.foodinfo.model.FoodInfo">
    update food_info
    <set>
      <if test="imageId != null">
        image_id = #{imageId,jdbcType=VARCHAR},
      </if>
      <if test="foodDescribe != null">
        food_describe = #{foodDescribe,jdbcType=VARCHAR},
      </if>
      <if test="foodAddress != null">
        food_address = #{foodAddress,jdbcType=VARCHAR},
      </if>
      <if test="foodStatus != null">
        food_status = #{foodStatus,jdbcType=TINYINT},
      </if>
      <if test="dataState != null">
        data_state = #{dataState,jdbcType=TINYINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="procurementUserId != null">
        procurement_user_id = #{procurementUserId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.foodinfo.model.FoodInfo">
    update food_info
    set image_id = #{imageId,jdbcType=VARCHAR},
      food_describe = #{foodDescribe,jdbcType=VARCHAR},
      food_address = #{foodAddress,jdbcType=VARCHAR},
      food_status = #{foodStatus,jdbcType=TINYINT},
      data_state = #{dataState,jdbcType=TINYINT},
      user_id = #{userId,jdbcType=VARCHAR},
      procurement_user_id = #{procurementUserId,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>